<div class="schedule-main">
    <div class="mornig-main">
      <div>
        <div class="schedule-mornig">
          <p-skeleton
            class="img"
            width="2rem"
            styleClass="mb-2"
          ></p-skeleton>

          <p-skeleton width="7rem" styleClass="mb-2"></p-skeleton>
        </div>
        <div class="schedule-time">
          <p-skeleton width="4rem" height="2.5rem"></p-skeleton>
          <p-skeleton width="4rem" height="2.5rem"></p-skeleton>
          <p-skeleton width="4rem" height="2.5rem"></p-skeleton>
          <p-skeleton width="4rem" height="2.5rem"></p-skeleton>
          <p-skeleton width="4rem" height="2.5rem"></p-skeleton>
          <p-skeleton width="4rem" height="2.5rem"></p-skeleton>
          <p-skeleton width="4rem" height="2.5rem"></p-skeleton>
          <p-skeleton width="4rem" height="2.5rem"></p-skeleton>
        </div>
      </div>

      <div>
        <div class="schedule-mornig">
          <p-skeleton
            class="img"
            width="2rem"
            styleClass="mb-2"
          ></p-skeleton>
          <p-skeleton width="7rem" styleClass="mb-2"></p-skeleton>
        </div>
        <div class="schedule-time">
          <p-skeleton width="4rem" height="2.5rem"></p-skeleton>
          <p-skeleton width="4rem" height="2.5rem"></p-skeleton>
          <p-skeleton width="4rem" height="2.5rem"></p-skeleton>
          <p-skeleton width="4rem" height="2.5rem"></p-skeleton>
          <p-skeleton width="4rem" height="2.5rem"></p-skeleton>
          <p-skeleton width="4rem" height="2.5rem"></p-skeleton>
          <p-skeleton width="4rem" height="2.5rem"></p-skeleton>
          <p-skeleton width="4rem" height="2.5rem"></p-skeleton>
        </div>
      </div>

      <div>
        <div class="schedule-mornig">
          <p-skeleton
            class="img"
            width="2rem"
            styleClass="mb-2"
          ></p-skeleton>
          <p-skeleton width="7rem" styleClass="mb-2"></p-skeleton>
        </div>
        <div class="schedule-time">
          <p-skeleton width="4rem" height="2.5rem"></p-skeleton>
          <p-skeleton width="4rem" height="2.5rem"></p-skeleton>
          <p-skeleton width="4rem" height="2.5rem"></p-skeleton>
          <p-skeleton width="4rem" height="2.5rem"></p-skeleton>
          <p-skeleton width="4rem" height="2.5rem"></p-skeleton>
          <p-skeleton width="4rem" height="2.5rem"></p-skeleton>
          <p-skeleton width="4rem" height="2.5rem"></p-skeleton>
          <p-skeleton width="4rem" height="2.5rem"></p-skeleton>
        </div>
      </div>
    </div>
  </div>