.toast-main {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #0000003e;
  z-index: 100;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.toast {
  width: 270px;
  height: max-content;
  background-color: #fff;
  border-radius: 0.3rem !important;
  overflow: hidden;
  /* position: relative; */
}
.toast-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.bxs-error-circle {
  font-size: 2rem;
  color: #ed0a3f;
}
.toast-body p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  overflow: hidden;
}
.progress::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #ed0a3f;
  animation: progress 5s linear forwards;
}
@keyframes progress {
  100% {
    right: 100%;
  }
}

.pageNotFound {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.pageNotFound-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -----------------Loader CSS----------------------------------- */
.container-fluid {
  /* border: 1px solid red; */
  height: 100vh;
  background: rgb(0, 127, 223);
  background: radial-gradient(
    circle,
    rgba(0, 127, 223, 0.9222398432029062) 0%,
    rgba(226, 241, 251, 1) 100%
  );
}
h1 {
  margin: 0;
  padding: 0;
  /* font-family: ‘Arial Narrow’, sans-serif; */
  font-weight: 500;
  font-size: 1.5em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

span {
  position: relative;
  top: 0.63em;
  display: inline-block;
  text-transform: uppercase;
  opacity: 0;
  transform: rotateX(-90deg);
}

.let1 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.2s;
}

.let2 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.3s;
}

.let3 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.4s;
}

.let4 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.5s;
}

.let5 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.6s;
}

.let6 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.7s;
}

.let7 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.8s;
}

@keyframes drop {
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
    top: 3.78em;
    transform: rotateX(-360deg);
  }
  80% {
    opacity: 1;
    top: 3.78em;
    transform: rotateX(-360deg);
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    top: 6.94em;
  }
}
