<section class="bookAppointment-main">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <p-card class="ng-card">
          <div class="card-body-left">
            <p-skeleton shape="circle" size="5rem"></p-skeleton>
            <div class="card-content">
              <strong>
                <p-skeleton width="15rem" styleClass="mb-2"></p-skeleton
              ></strong>
              <span
                ><p-skeleton
                  styleClass="mb-2"
                  width="8rem"
                  height=".5rem"
                ></p-skeleton
              ></span>
            </div>
          </div>
        </p-card>
      </div>

      <div class="col-8">
        <p-card class="ng-card">
          <div class="schedule-main">
            <div class="mornig-main">
              <div>
                <div class="schedule-mornig">
                  <p-skeleton
                    class="img"
                    width="2rem"
                    styleClass="mb-2"
                  ></p-skeleton>

                  <p-skeleton width="7rem" styleClass="mb-2"></p-skeleton>
                </div>
                <div class="schedule-time">
                  <p-skeleton width="6rem" height="2.5rem"></p-skeleton>
                  <p-skeleton width="6rem" height="2.5rem"></p-skeleton>
                  <p-skeleton width="6rem" height="2.5rem"></p-skeleton>
                  <p-skeleton width="6rem" height="2.5rem"></p-skeleton>
                  <p-skeleton width="6rem" height="2.5rem"></p-skeleton>
                  <p-skeleton width="6rem" height="2.5rem"></p-skeleton>
                  <p-skeleton width="6rem" height="2.5rem"></p-skeleton>
                  <p-skeleton width="6rem" height="2.5rem"></p-skeleton>
                </div>
              </div>

              <div>
                <div class="schedule-mornig">
                  <p-skeleton
                    class="img"
                    width="2rem"
                    styleClass="mb-2"
                  ></p-skeleton>
                  <p-skeleton width="7rem" styleClass="mb-2"></p-skeleton>
                </div>
                <div class="schedule-time">
                  <p-skeleton width="6rem" height="2.5rem"></p-skeleton>
                  <p-skeleton width="6rem" height="2.5rem"></p-skeleton>
                  <p-skeleton width="6rem" height="2.5rem"></p-skeleton>
                  <p-skeleton width="6rem" height="2.5rem"></p-skeleton>
                  <p-skeleton width="6rem" height="2.5rem"></p-skeleton>
                  <p-skeleton width="6rem" height="2.5rem"></p-skeleton>
                  <p-skeleton width="6rem" height="2.5rem"></p-skeleton>
                  <p-skeleton width="6rem" height="2.5rem"></p-skeleton>
                </div>
              </div>

              <div>
                <div class="schedule-mornig">
                  <p-skeleton
                    class="img"
                    width="2rem"
                    styleClass="mb-2"
                  ></p-skeleton>
                  <p-skeleton width="7rem" styleClass="mb-2"></p-skeleton>
                </div>
                <div class="schedule-time">
                  <p-skeleton width="6rem" height="2.5rem"></p-skeleton>
                  <p-skeleton width="6rem" height="2.5rem"></p-skeleton>
                  <p-skeleton width="6rem" height="2.5rem"></p-skeleton>
                  <p-skeleton width="6rem" height="2.5rem"></p-skeleton>
                  <p-skeleton width="6rem" height="2.5rem"></p-skeleton>
                  <p-skeleton width="6rem" height="2.5rem"></p-skeleton>
                  <p-skeleton width="6rem" height="2.5rem"></p-skeleton>
                  <p-skeleton width="6rem" height="2.5rem"></p-skeleton>
                </div>
              </div>
            </div>
          </div>
        </p-card>
      </div>

      <div class="col-8">
        <div class="satisfied-main">
          <div class="satisfied-img">
            <p-skeleton width="6rem" height="4rem"></p-skeleton>
          </div>
          <div class="satisfied-content">
            <strong><p-skeleton width="20rem"></p-skeleton></strong><br />
            <span><p-skeleton width="10rem" height=".5rem"></p-skeleton></span>
          </div>
        </div>
      </div>

      <div class="col-8">
        <p-card class="ng-card">
          <div class="footer">
            <strong><p-skeleton width="15rem"></p-skeleton></strong>
            <div class="footer-sub">
              <span
                ><p-skeleton width="20rem" height=".5rem"></p-skeleton
              ></span>
              <span
                ><p-skeleton width="20rem" height=".5rem"></p-skeleton
              ></span>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</section>
