<!-- <div class="container-fluid"> -->
    <p-card class="ng-card">
      <div class="card-body">
        <div class="card-body-left" routerLink="/appointment/doctors/profile">
          <p-skeleton shape="circle" size="7rem"></p-skeleton>
          <div class="card-content">
            <strong><p-skeleton styleClass="mb-2"></p-skeleton></strong>
            <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
            <div class="experience">
              <div class="experience-sub">
                <strong
                  ><p-skeleton width="5rem" styleClass="mb-2"></p-skeleton
                ></strong>
                <span
                  ><p-skeleton
                    width="5rem"
                    height=".5rem"
                    styleClass="mb-2"
                  ></p-skeleton
                ></span>
              </div>
              <div class="experience-sub1">
                <strong
                  ><p-skeleton width="5rem" styleClass="mb-2"></p-skeleton
                ></strong>
                <span
                  ><p-skeleton
                    width="5rem"
                    height=".5rem"
                    styleClass="mb-2"
                  ></p-skeleton
                ></span>
              </div>
              <div class="experience-sub">
                <strong
                  ><p-skeleton width="5rem" styleClass="mb-2"></p-skeleton
                ></strong>
                <span
                  ><p-skeleton
                    width="5rem"
                    height=".5rem"
                    styleClass="mb-2"
                  ></p-skeleton
                ></span>
              </div>
            </div>
          </div>
        </div>
  
        <div class="card-body-right">
          <p-skeleton width="12rem" height="2.8rem"></p-skeleton>
          <p-skeleton width="12rem" height="2.8rem"></p-skeleton>
        </div>
      </div>
      <div class="card-footer">
        <p-skeleton width="20rem" height="4rem"></p-skeleton>
        <p-skeleton width="20rem" height="4rem"></p-skeleton>
      </div>
    </p-card>
    <p-card class="ng-card">
      <div class="card-body">
        <div class="card-body-left" routerLink="/appointment/doctors/profile">
          <p-skeleton shape="circle" size="7rem"></p-skeleton>
          <div class="card-content">
            <strong><p-skeleton styleClass="mb-2"></p-skeleton></strong>
            <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
            <div class="experience">
              <div class="experience-sub">
                <strong
                  ><p-skeleton width="5rem" styleClass="mb-2"></p-skeleton
                ></strong>
                <span
                  ><p-skeleton
                    width="5rem"
                    height=".5rem"
                    styleClass="mb-2"
                  ></p-skeleton
                ></span>
              </div>
              <div class="experience-sub1">
                <strong
                  ><p-skeleton width="5rem" styleClass="mb-2"></p-skeleton
                ></strong>
                <span
                  ><p-skeleton
                    width="5rem"
                    height=".5rem"
                    styleClass="mb-2"
                  ></p-skeleton
                ></span>
              </div>
              <div class="experience-sub">
                <strong
                  ><p-skeleton width="5rem" styleClass="mb-2"></p-skeleton
                ></strong>
                <span
                  ><p-skeleton
                    width="5rem"
                    height=".5rem"
                    styleClass="mb-2"
                  ></p-skeleton
                ></span>
              </div>
            </div>
          </div>
        </div>
  
        <div class="card-body-right">
          <p-skeleton width="12rem" height="2.8rem"></p-skeleton>
          <p-skeleton width="12rem" height="2.8rem"></p-skeleton>
        </div>
      </div>
      <div class="card-footer">
        <p-skeleton width="20rem" height="4rem"></p-skeleton>
        <p-skeleton width="20rem" height="4rem"></p-skeleton>
      </div>
    </p-card>
    <p-card class="ng-card">
      <div class="card-body">
        <div class="card-body-left" routerLink="/appointment/doctors/profile">
          <p-skeleton shape="circle" size="7rem"></p-skeleton>
          <div class="card-content">
            <strong><p-skeleton styleClass="mb-2"></p-skeleton></strong>
            <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
            <div class="experience">
              <div class="experience-sub">
                <strong
                  ><p-skeleton width="5rem" styleClass="mb-2"></p-skeleton
                ></strong>
                <span
                  ><p-skeleton
                    width="5rem"
                    height=".5rem"
                    styleClass="mb-2"
                  ></p-skeleton
                ></span>
              </div>
              <div class="experience-sub1">
                <strong
                  ><p-skeleton width="5rem" styleClass="mb-2"></p-skeleton
                ></strong>
                <span
                  ><p-skeleton
                    width="5rem"
                    height=".5rem"
                    styleClass="mb-2"
                  ></p-skeleton
                ></span>
              </div>
              <div class="experience-sub">
                <strong
                  ><p-skeleton width="5rem" styleClass="mb-2"></p-skeleton
                ></strong>
                <span
                  ><p-skeleton
                    width="5rem"
                    height=".5rem"
                    styleClass="mb-2"
                  ></p-skeleton
                ></span>
              </div>
            </div>
          </div>
        </div>
  
        <div class="card-body-right">
          <p-skeleton width="12rem" height="2.8rem"></p-skeleton>
          <p-skeleton width="12rem" height="2.8rem"></p-skeleton>
        </div>
      </div>
      <div class="card-footer">
        <p-skeleton width="20rem" height="4rem"></p-skeleton>
        <p-skeleton width="20rem" height="4rem"></p-skeleton>
      </div>
    </p-card>

  <!-- </div> -->