
<section>
<div class="container-fluid footer-main">
    <div class="row g-5">
    <div class="col-5">
        <div class="row">
            <div class="footer-logo">
                <img src="assets\Images\logo.png" alt="">
                <p>Book appointments with the best Doctors and Specialists such as Gynecologists, Skin Specialists, Child Specialists, Surgeons, etc. Avail test services such as MRI, CT scan, Ultrasound, X-Ray, etc. and Online Doctor Video Consultations all across Pakistan conveniently.</p>
            </div>
        </div>
        <div class="row">
            <div class="footer-links">
                <Strong>Company</Strong>
                <ul>
                    <li>About us</li>
                    <li>Privacy policy</li>
                    <li>Delivery policy</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="footer-links">
            <Strong>Company</Strong>
            <ul>
                <li>About us</li>
                <li>Privacy policy</li>
                <li>Delivery policy</li>
            </ul>
        </div>
    </div>
    <div class="col-2">
        <div class="footer-links">
            <Strong>Company</Strong>
            <ul>
                <li>About us</li>
                <li>Privacy policy</li>
                <li>Delivery policy</li>
            </ul>
        </div>
    </div>
    <div class="col-2">
        <div class="row">
            <div class="footer-links">
                <Strong>Company</Strong>
                <ul>
                    <li>About us</li>
                    <li>Privacy policy</li>
                    <li>Delivery policy</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="footer-links">
                <Strong>Company</Strong>
                <ul>
                    <li>About us</li>
                    <li>Privacy policy</li>
                    <li>Delivery policy</li>
                </ul>
            </div>
        </div>

    </div>
    </div>

    <div class="row g-3">
        <div class="col-3">
            <div class="footerSecod-main">
            <div class="footerSecond-img">
                <img src="assets\Images\verified.png" alt="">
            </div>
            <div class="footerSecond-text">
                <strong>PMC Verified Doctors</strong>
                <span>Authentic & updated information</span>
            </div>
        </div>
        </div>
        <div class="col-3">
            <div class="footerSecod-main">
                <div class="footerSecond-img">
                    <img src="assets\Images\wallet.png" alt="">
                </div>
                <div class="footerSecond-text">
                    <strong>PMC Verified Doctors</strong>
                    <span>Authentic & updated information</span>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="footerSecod-main">
                <div class="footerSecond-img">
                    <img src="assets\Images\headphones.png" alt="">
                </div>
                <div class="footerSecond-text">
                    <strong>PMC Verified Doctors</strong>
                    <span>Authentic & updated information</span>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="footerSecod-main">
                <div class="footerSecond-img">
                    <img src="assets\Images\secure.png" alt="">
                </div>
                <div class="footerSecond-text">
                    <strong>PMC Verified Doctors</strong>
                    <span>Authentic & updated information</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="copyright-main">
            <div class="copyRight-right">
                <p> © 2023 All rights reserved | Designed by <span>MBE Digital</span> </p>
            </div>
            <div class="copyRight-left">
                <strong>Connect with us</strong>
                <ul>
                    <li><i class='bx bxl-twitter'></i></li>
                    <li><i class='bx bxl-facebook-circle'></i></li>
                    <li><i class='bx bxl-instagram' ></i></li>
                    <li><i class='bx bxl-gmail' ></i></li>
                </ul>
            </div>
        </div>
    </div>

</div>
</section>
