.footer-main{
    /* border: 1px solid red; */
    padding: 20px 50px;
    background-color: var(--black);
    color: rgba(255,255,255,0.5);
}
.footer-logo{

}
.footer-logo img{
    width: 150px;
}
.footer-logo p{
    font-size: .8rem;
}
.footer-links{

}
.footer-links strong{
    color: white;
    font-weight: 600;
    font-size: .9rem;
}
.footer-links ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-links ul li{
    font-size: .8rem;
    cursor: pointer;
}
.footer-links ul li:hover{
    text-decoration: underline;
}

.footerSecod-main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 50px 0;
    gap: 8px;
}
.footerSecond-img{

}
.footerSecond-img img{
    width: 50px;
    height: 40px;
}
.footerSecond-text{
    display: flex;
    flex-direction: column;
    color: #fff;
}
.footerSecond-text strong{
    font-size: .9rem;
    font-weight: 600;
}
.footerSecond-text span{
    font-size: .8rem;
}
.copyright-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyRight-right p{
    margin: 0;
    padding: 0;
    font-size: .8rem;
}
.copyRight-right span{
    color: var(--sky-blue);
}
.copyRight-left{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.copyRight-left strong{
    font-weight: 600;
}
.copyRight-left ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* padding: 0; */
    gap: 8px;
    list-style: none;
}
.copyRight-left ul i{
    font-size: 1.5rem;
}

